*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    overflow: hidden;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    background: rgb(0,0,0);
    background: linear-gradient(329deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 22%, rgba(0,0,0,1) 48%, rgba(46,46,46,1) 68%, rgba(56,56,56,1) 89%, rgba(17,17,17,1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
}
#vertical1{
    width: 3%;
    height: 100%;
    left: 10%;
    position: absolute;
    background: rgb(226,0,237);
    background: linear-gradient(0deg, rgba(226,0,237,1) 0%, rgba(243,1,255,1) 10%, rgba(37,0,251,1) 49%, rgba(154,9,244,1) 74%, rgba(255,0,0,1) 100%);

}
#vertical2{
    width: 3%;
    height: 100%;
    position:absolute;
    background: rgb(34,34,34);
    background: linear-gradient(0deg, rgba(34,34,34,1) 6%, rgba(65,65,65,1) 28%, rgba(6,6,6,1) 50%, rgba(55,55,55,1) 75%, rgba(24,24,24,1) 94%);
    right: 10%;
}
#verticalcenter{
    height: 6%;
    width: 73.99%;
    position:absolute;
    top: 50%;
    background: rgb(226,0,237);
    background: linear-gradient(90deg, rgba(226,0,237,1) 0%, rgba(243,1,255,1) 15%, rgba(37,0,251,1) 33%, rgba(154,9,244,1) 68%, rgba(255,0,0,1) 100%);
    left: 13%;
}
#topdiv{
    width: 73.3%;
    height: 50%;
    position:absolute;
    background-color: rgba(220, 220, 220, 0.473);
    left: 13.3%;
    background: rgb(66,66,66);
background: radial-gradient(circle, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 100%);
box-shadow: 0 0 25px black;
}
#frame{
    height: 100%;
    width: 100%;
}
#framecolour1{
height: 3.7%;
width: 15%;
left: 7%;
top: 15%;
position: relative;
background: rgb(244,8,235);
background: linear-gradient(90deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
}
#framecolour3{
    height: 3.7%;
    width: 15%;
    left: 7%;
    top: 15%;
    position: relative;
    background: rgb(244,8,235);
    background: linear-gradient(90deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
    }
 #framecolour2{
        height: 55%;
        width: 1.5%;
        left: 7%;
        top: 15%;
        position: relative;
        background: rgb(244,8,235);
        background: linear-gradient(180deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
}
#framecolour4{
            height: 62.3%;
            width: 1.5%;
            left: 21%;
          bottom: 47.3%;
            position: relative;
            background: rgb(244,8,235);
            background: linear-gradient(180deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
}
#image1{
                height: 63%;
                width: 15%;
                position: relative;
                bottom: 100%;
                left: 11%;
                background-image: url(https://images.unsplash.com/photo-1501441858156-e505fb04bfbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGFyayUyMGZhc2hpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    box-shadow: 0 0 25px black;
}
#whiteframe1{
    height: 3.7%;
    width: 13.5%;
    left: 15%;
    top: 91%;
    position:absolute;
    background: rgb(167,167,167);
    background: linear-gradient(90deg, rgba(167,167,167,1) 0%, rgba(86,86,86,1) 100%);
    box-shadow: 0 0 25px black;
}
#whiteframe3{
    height: 3.7%;
    width: 13.5%;
    left: 15%;
    top: 39%;
    position:absolute;
    background: rgb(167,167,167);
    background: linear-gradient(270deg, rgba(167,167,167,1) 0%, rgba(86,86,86,1) 100%);
    box-shadow: 0 0 25px black;
}
#whiteframe2{
                    height: 55%;
                    width: 1.5%;
                    left: 27%;
                    top: 39%;
                    position: absolute;
                    background: rgb(167,167,167);
background: linear-gradient(180deg, rgba(167,167,167,1) 0%, rgba(86,86,86,1) 100%);
box-shadow: 0 0 25px black;
}
#whiteframe4{
    height: 55%;
    width: 1.5%;
    left: 15%;
    top: 39%;
    position: absolute;
    background: rgb(167,167,167);
    background: linear-gradient(0deg, rgba(167,167,167,1) 0%, rgba(86,86,86,1) 100%);
    box-shadow: 0 0 25px black;
}
#text1{
    left: 30%;
    top: 15%;
    position: absolute;
    width: 100%;
    height: 100%;
}
#text1 #a{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 1000;
    color: rgb(201, 201, 201);
   font-size: 290%;
}
#text1 #b{
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(175, 175, 175);
    font-weight: 500;
    letter-spacing: 10px;
   font-size: 100%;
}
#text1 #a:hover {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
color: rgb(233, 233, 233);
font-size: 310%;
}
#frame2{
    height: 100%;
    width: 100%;
   position: absolute;
   left: 50%;
   top: 10%;
}
#framecolour1sec{
    height: 3.7%;
    width: 15%;
    left: 7%;
    top: 15%;
    position: relative;
    background: rgb(244,8,235);
    background: linear-gradient(90deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
    }
    #framecolour3sec{
        height: 3.7%;
        width: 15%;
        left: 7%;
        top: 15%;
        position: relative;
        background: rgb(244,8,235);
        background: linear-gradient(90deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
        }
     #framecolour2sec{
            height: 55%;
            width: 1.5%;
            left: 7%;
            top: 15%;
            position: relative;
            background: rgb(244,8,235);
            background: linear-gradient(180deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
    }
    #framecolour4sec{
                height: 62.3%;
                width: 1.5%;
                left: 21%;
              bottom: 47.3%;
                position: relative;
                background: rgb(244,8,235);
                background: linear-gradient(180deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
    }
#middiv{
    width: 55%;
    height: 60%;
    position: absolute;
top: 23%;
left: 45%;
background: rgb(66,66,66);
background: linear-gradient(163deg, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 100%);
box-shadow: 0 0 25px black;
}
#framecolourthird{
    height: 55%;
    width: 2.5%;
    left: 0%;
    top: 20%;
    position: relative;
    background: rgb(244,8,235);
    background: linear-gradient(180deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
    box-shadow: 0 0 25px black;
}
#box{
    height: 20%;
    width: 11%;
   bottom: 50%;
   left: 5%;
    position: relative;
    border: 2px solid rgba(146, 146, 146, 0.623);
}
#middiv #a1{
    top: 30px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 29px;
    font-weight: 1000;
    color: rgb(207, 207, 207);
    position: absolute;
}
#middiv #a2{
    top: 70px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    left: 50px;
    color: rgb(138, 135, 135);
    position: absolute;
}
#middiv #b1{
    top: 60%;
    left: 6%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 45px;
    font-weight: 1000;
    color: rgb(207, 207, 207);
    position: absolute;
}
#middiv #b1:hover{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    font-size: 46px;
    color: white;
}
#middiv #b2{
    top: 58%;
    left: 26%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 55px;
    font-weight: 1000;
    color: rgb(138, 0, 180);
    position: absolute;
}
#middiv #b3{
    top: 60%;
    left: 31%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 45px;
    font-weight: 1000;
    color: rgb(122, 122, 122);
    position: absolute;
}

#middiv #b5{
    top: 73.9%;
    left: 3%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: 2px;
    color: rgb(145, 145, 145);
    position: absolute;
}
#middiv #b5:hover{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    font-size: 23px;
    color: rgb(180, 180, 180);
}
#circle{
    top: 13.9%;
    left: 59%;
    position: absolute;
    height: 300px;
    width: 300px;
   border-radius: 50%;
background-image: url(https://media.istockphoto.com/photos/3d-render-of-abstract-art-of-surreal-3d-background-based-on-curve-picture-id1291609162?b=1&k=20&m=1291609162&s=170667a&w=0&h=qLNuN8IjOgLHN5IuTdPkOTPUBkPwOUCmRNjywOf4SO8=);
background-position: center;
background-size: cover;

}
#secdiv{
    width: 73.9%;
    height: 43.8%;
    position:absolute;
    left: 13%;
    top: 56%;
    background: rgb(36,36,36);
background: linear-gradient(163deg, rgba(36,36,36,1) 0%, rgba(9,9,9,1) 100%);
box-shadow: 0 0 25px black;
}
#secdiv #second1{
    position:absolute;
    left: 3.9%;
    top: 2.9%;
    font-family: 'Lexend Deca', sans-serif;
    font-size:30px;
    font-weight: 1000;
    color: rgb(150, 150, 150);
}
#secdiv #second1:hover{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    font-size: 33px;
    color: rgb(180, 180, 180);
}
#secdiv #second5{
    position:absolute;
    left: 3.9%;
    top: 19%;
    font-family: 'Lexend Deca', sans-serif;
    font-size:13px;
    font-weight: 900;
    color: rgb(100, 100, 100);
    letter-spacing: 2px;
}
#image2{
    height: 55%;
    width: 13%;
    position: absolute;
    bottom: 15%;
    left: 9%;
    background-image: url(https://images.unsplash.com/photo-1501441858156-e505fb04bfbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGFyayUyMGZhc2hpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
background-size: cover;
box-shadow: 0 0 25px black;
}
#verticalsec{
    height: 3.7%;
        width: 12.5%;
        left: 12%;
        top: 90%;
        position: absolute;
        background: rgb(244,8,235);
        background: linear-gradient(90deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
   
}
#verticalsec12{
    height: 3.7%;
    width: 12.5%;
    left: 12%;
    top: 40%;
    position: absolute;
    background: rgb(244,8,235);
    background: linear-gradient(90deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);

} 
 #verticalsec2{
        height: 53.6%;
        width: 1.3%;
        left: 23.3%;
        top: 39.9%;
    position: absolute;
    background: rgb(244,8,235);
    background: linear-gradient(180deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
}
#verticalsec13{
    height: 53.6%;
    width: 1.3%;
    left: 11.3%;
    top: 39.9%;
position: absolute;
background: rgb(244,8,235);
background: linear-gradient(180deg, rgba(244,8,235,1) 0%, rgba(26,2,255,1) 37%, rgba(149,5,252,1) 65%, rgba(255,0,0,1) 100%);
}
#verticalsec5{
    height: 100%;
    width: 2.5%;
    left: 0%;
    top: 0%;
position: absolute;
background: rgb(93,93,93);
background: linear-gradient(0deg, rgba(93,93,93,1) 0%, rgba(29,29,29,1) 100%);
}
#fogdiv{
    position: absolute;
        width: 900px;
        height: 130px;
        background-repeat: no-repeat;
    /* left: 45%; */
/* background-image: url(https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJsYWNrfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60); */
  bottom: 0%;
}